SWIFT_VERSION = 6.0
IPHONEOS_DEPLOYMENT_TARGET = 16.0

CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = YOURTEAMID

SWIFT_STRICT_CONCURRENCY = complete
SWIFT_COMPILATION_MODE = incremental
ONLY_ACTIVE_ARCH = YES
ENABLE_TESTABILITY = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
OTHER_SWIFT_FLAGS = $(inherited) -warn-concurrency -enable-bare-slash-regex
DEBUG_INFORMATION_FORMAT = dwarf

